@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Learn about <a href="https://docs.microsoft.com/en-us/azure/app-service/environment/overview">ASEv3</a></p>
    <p>Learn about <a href="https://docs.microsoft.com/en-US/Azure/app-service/overview-arc-integration">Arc for App services!</a></p>
</div>
